$primary: #764f79;
$primary-dark: darken($primary, 10%);
$primary-very-dark: #351039;
$primary-light: lighten($primary, 30%);
$grey-ultra-light: #f2f2f2;
$grey-very-light: #f0eef0;
$grey-light: #dcdcdc;
$grey-medium: #a09f9f;
$grey-semi: #757575;
$white: #ffffff;
$black: #000000;

$danger-default: #f8d7da;
$danger-text: #8c585d;
$danger-border: #f5c6cb;

$break-medium: 560px;

$border-radius: 3px;
$text-shadow: 0px 1px 1px rgba(53, 16, 56, 0.5);
$vertical-shading: linear-gradient(
    to top,
    rgba($black, 0.2) 0%,
    rgba($black, 0) 100%
);
